.legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; /* Optional: to wrap items if they exceed the container width */
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  .legend-label {
    font-size: 14px;
  }
  
  .predicate-active {
    color: white;
  }
  
  .predicate-inactive {
    color: darkred;
  }
  
  .predicate-active, .predicate-inactive {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  /* graph-legend.component.scss */

.predicates {
  display: flex;
  flex-direction: column; /* Stacks predicates vertically */
  gap: 10px; /* Adds space between predicates */
}

.predicate {
  display: flex;
  flex-direction: row; /* Stacks nodes horizontally */
  gap: 5px; /* Adds space between nodes */
}

.predicate-node {
  display: flex;
  align-items: center; /* Centers content vertically */
}

  