<div class="legend">
  <div *ngFor="let key of getKeys(colorMap)" class="legend-item">
    <span class="legend-color" [style.background]="colorMap[key]"></span>
    <span class="legend-label">{{ key }}</span>
  </div>
</div>

<div class="predicates">
  <div *ngFor="let item of predicates; trackBy: trackByPredicate" class="predicate">
    <div *ngFor="let expression of item.expressions; let i = index; trackBy: trackByIndex"
         [ngStyle]="getPredicateStyle(item.predicate, i)"
         class="predicate-node">
      <span>{{ expression }}</span>
    </div>
  </div>
</div>


