<div class="graph-container w-100 px-3">
  <div id="graph-header" class="left-element">
    <div class="node-start"></div>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let node of networkNodes" cdkDrag>
        <div class="node-div">{{ node.id }}</div>
      </div>
    </div>
  </div>

  <div class="cy-container">
    <div id="cy"></div>
    <input type="range" id="cy-scrollbar" style="width: 98%;">
  </div>
</div>

<div class="legend-container">
  <app-graph-legend class="app-legend"></app-graph-legend>
</div>
