@import "bootstrap/scss/bootstrap";

// Custom variables for light theme
$body-bg: #ffffff;
$body-color: #000000;

:root {
    --body-bg: $body-bg;
    --body-color: $body-color;
    // Add more variables as needed
  }

// Import the rest of Bootstrap
@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/bootstrap";
